

<!DOCTYPE html>
<title>View Advisees Online</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


<link rel="stylesheet" href="../css/main.css">
<link rel = "stylesheet"href="../css/dropdown.css">
<link rel = "stylesheet" href="../css/tree.css">

<div class = "container" ng-app = "studentApp" ng-controller = "StudentListCtrl" id = "id01" >
		
	<div class = "row">
	
	</div>
	<div class = "row" style = "padding-bottom: 100px;"></div>
	<div id = "top">
		
	<div class = "row">
		<div class = "col-sm-3">
	
		<div class = "contain">
			<ul>
    <li class="dropdown">
      <input type="checkbox" />
      <a  id = "studentTab" data-toggle="dropdown">My Students</a>
      <ul class="dropdown-menu">
       
			
		<li ng-repeat = "student in students"  ng-click="getGraph(student)">
			
			<img src = {{student.image}}>
			 <h4>{{student.lastName}} ,{{student.firstName}}</h4>
			
		</li>
		
		
      </ul>
    </li>
   </ul>
	</div>
	
	
	</div>
	
	<div class = "col-sm-2" id = "infoArea"style="right:38px;">
		<div class = "contain">
			<ul>
    <li class="dropdown" style="width:280px;">
      <input type="checkbox" />
      <a  id = "studentTab" data-toggle="dropdown">New</a>
      <ul class="dropdown-menu">
       
			
		<li>
			
			 <form id="file-form">
  <input type="file" id="file-select" name="students"/>
  <button type="submit" id="upload-button">Upload</button>
</form>
		
      </ul>
    </li>
   </ul>
	</div>
</div>

<div class = "col-sm-1">
		<div class = "contain">
			<ul>
    <li class="dropdown" style="width:200px; ">
      <input type="checkbox" />
      <a  id = "studentTab" data-toggle="dropdown">Export</a>
      <ul class="dropdown-menu">
       
			<a href="http://162.243.36.18:8000/students.json/" download="">Download JSON</a>
			<a href="http://162.243.36.18:8000/grades.csv/" download="">Download CSV</a>
			
      </ul>
    </li>
   </ul>
	</div>
</div>


<div class = "col-sm-2">
		<div class = "contain">
			<ul>
    <li class="dropdown" style="width:220px; right: 80px;">
      <input type="checkbox" />
      <a  id = "studentTab" data-toggle="dropdown">Toggle View</a>
      <ul class="dropdown-menu">
       
			
		
			
      </ul>
    </li>
   </ul>
	</div>
</div>
<div class = "col-sm-1">
		<div class = "contain">
			<ul>
    <li class="dropdown" style="width:300px;">
      <input type="checkbox" />
      <a  id = "studentTab" data-toggle="dropdown">User Info</a>
      <ul class="dropdown-menu">
       
			
		
			
      </ul>
    </li>
   </ul>
	</div>
</div>
<div class = "col-sm-2" id = "studentHead">
	</div>
	
	
	
	
	</div>


</div>
	
   
	<div class = "row" style = "padding-bottom: 80px;"></div>
<div class = "row">
	
		
		
	



	<div class = "col-sm-10 col-sm-offset-2" id = "graphArea">

	<div class="tree"  style = "padding-left: 60px">
	<ul>
		<li>
			<a  id = "0"></a>
			<ul>
		<li>
		<a  id = "1"></a>
	
		<ul>
		<ul>
		<li>
		<a  id = "10"></a>
		</li>
		<li>
		<a  id = "5"></a>
			<ul>
		<li>
		<a  id = "8"></a>
		</li>
		</ul>
		</li>
		
		<li>
		<a  id = "3"></a>
			<ul>
		<li>
		<a  id = "9"></a>
		</li>
		</ul>
		</li>
		
		<li>
		<a  id = "4"></a>
			<ul>
		<li>
		<a  id = "6"></a>
		</li>
		</ul>
		</li>
		
		<li>
		<a  id = "2"></a>
		<ul>
		<li>
		<a  id = "7"></a>
		</li>
		</ul>
		</li>
		
		</ul>
	
	</ul>
	     </li>
		</ul>
	
				
				</li>
				</ul>
			</div>
			<div style = "height:400px;"></div>
			<div class = "tree" style = "padding-left: 150px;">
				<ul>
		<li>
			<a  id = "14"></a>
			<ul>
		<li>
		<a  id = "15"></a>
		
		</li>
	
		</ul>
		
		</li>
		<li>
			<a  id = "16"></a>
			<ul>
		<li>
		<a  id = "17"></a>
		
		</li>
		</ul>
		</li>
		
			<li>
			<a  id = "12"></a>
			<ul>
		<li>
		<a  id = "13"></a>
		
		</li>
		</ul>
		</li>
		<li>
			<a  id = "11"></a>
		</ul>
				</div>
</div>
</div>

</div>
	</div>

	<div class = "row">
		
	</div>
	<script src= "https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
	<script>
	
	/*
	//TODO - LGOIN SYSTEM , SPECIFY URL
	       - IButton ids are not consist with csv
		   -  Formatting for smaller screens
		   -  user permissions
		   - comment button (pft)
		   - prob should throw a jumbotron on there
	*/		 
	/*
	 * 
	 * helpful class index key:
	 * 0 CompSci-I,
1 CPS310-CompSci-II,
2 MAT320-DiscreteMath,
3 CPS315-CompSci-III,
4 CPS352-OOP,
5 CPS330-Assembly.Arch.,
6 CPS353-SoftEng,
7 CPS415-Disc.Cont.Algorithms,
8 CPS340-Op.Sys
9 ,CPS425-Lang.Processing,
10 CPS493-Elect-1,
11 CPS493-Projects
12 EGC230-Dig.Logic,
13 EGC208-Dig.Logic.Lab,
14 MAT251-Calc-I,
15 MAT252-Calc-II,
16 1SCIENCE-I,
17 SCIENCE-II
	 */
	
$('.container').scroll(function() { 
    $('#top').css('top', $(this).scrollTop());
});



	
	

Element.prototype.hasClass = function(className) {
	
    return this.className && new RegExp("(^|\\s)" + className + "(\\s|$)").test(this.className);
};
	
	var url = "http://162.243.36.18:8000/students.json/";
	var firstTime = true;
	
 
var studentApp = angular.module('studentApp', []);

studentApp.controller('StudentListCtrl', function ($scope, $http) {
  $http.get(url).success(function(data) {
  	console.log(data);
	//lazy scope variables, at least there's only 2
	$scope.currentStudent;
	$scope.currentClass;
    $scope.students = data;
    //$scope.getGraph($scope.students[0]);
    
	
    });


$("#file-select").change(function(event) {
	var uploadedFile = event.target.files[0];
	var data = null;
	var reader = new FileReader();
	reader.readAsText(uploadedFile);
	reader.onload = function(e) {
		var csvData = e.target.result;
		data = $.csv.toArrays(csvData);
		for (var i = 0; i < data.length; i++)
		{
			data[i] += "\n";
			console.log("Data " + i + " long.." + data[i]);
		}
		
		if (data) {
			alert('yay');
			$scope.postCSV(data);
		}
		
	};
	
	reader.onerror = function() {
		alert('Unable to read ' + file.fileName);
	};
	
});


   
   //function creates the course graph for student, specified by passing that specific student object 
  $scope.getGraph = function(student) {
    	$scope.currentStudent = student;
    		var classesCompleted = 0;
            var studentHead = document.getElementById("studentHead");
   			studentHead.innerHTML = "";
   			var label = document.createElement("h4");
    		//display name
    		var str = student.lastName + ", " + student.firstName; //str for length field
    		var name = document.createTextNode(str);
    		
    		label.appendChild(name);
 
    			if (str.length > 19) {
    			label.style.fontSize = "15px";
    		}
    		else {
    			label.style.fontSize = "17px";
    		}
    		//rigth side pls
    		label.style.cssFloat = "right";
    		//we need that pretty img face
    		var img = document.createElement("img");
    		img.src = student.image;
    		//stick the img on the /left side
    		img.style.cssFloat = "left";
    		studentHead.appendChild(img);
    		studentHead.appendChild(label);
    		
    		
   
    		  
    		 
    		 
    		  //this loop creates each graph component
    	for (var i = 0; i < student.classes.length ; i++) {
    		console.log("Parsing class number = " + i + " and the name is " + student.classes[i].name);
    		
    		var currentNode = document.getElementById(i); //returns current DOM node labeled by number
    		//loop to delete all previous content, avoiding propogation of info
 			while (currentNode.hasChildNodes()) {
 				currentNode.removeChild(currentNode.lastChild);
 			}
 var className = document.createElement("h6");
 className.appendChild(document.createTextNode(student.classes[i].name));
 currentNode.appendChild(className);
  var bufferDiv = document.createElement("div");
  //currentNode.appendChild(bufferDiv);
 var gradeButton=  $scope.createGradeButton(i);
 var commentButton = $scope.createCommentButton(i);
  
  
  currentNode.appendChild(gradeButton);
   currentNode.appendChild(commentButton);
     		  if (student.classes[i].grade === "") {
    	currentNode.style.background = "#ff0000";
    }
    else {
    	classesCompleted+= 1; //for top counter
    	currentNode.style.background = "#00ff00";
    }
  
 
    

    	
    	}//end for loop
    	
    	var classesDone = document.createElement("h5");
    		var done = document.createTextNode("Classes completed: " + classesCompleted);
    		classesDone.appendChild(done);
    		classesDone.style.cssFloat = "right";
    		classesDone.style.fontWeight = "200";
    		studentHead.appendChild(classesDone);
    	
    	
    	
    };
    
   $scope.createGradeButton = function(index) {
   	 var button = document.createElement("button");
   	button.className = "btn btn-xs";
    button.id = index + 100; //to avoid conflicting ID's
  var infoIcon = document.createElement("span");
  infoIcon.className = "glyphicon glyphicon-info-sign";
  
  if ($scope.currentStudent.classes[index].grade == "") {
  	button.style.color = "#ff0000";
    }
    else {
    	button.style.color = "#00ff00";
    }
  
  
  button.appendChild(infoIcon);
  button.onclick = function() {
  		$scope.currentClass = this.id - 100;
    	var index = $scope.students.indexOf($scope.currentStudent);
				
    	$scope.displayButtonInfo($scope.students[index].classes[$scope.currentClass]); //passes info on currently selected class, and full student JSON 
    
  };
  
  		return button;
   };
   //return a button reference 
     $scope.createCommentButton = function(index) {
   	 var button = document.createElement("button"); //the comment button that will popover textarea
   	button.className = "btn btn-xs";
    button.id = index + 200; //to avoid conflicting ID's
  var pencilIcon = document.createElement("span");
  pencilIcon.className = "glyphicon glyphicon-pencil";
  button.appendChild(pencilIcon);
    if ($scope.currentStudent.classes[index].grade == "") {
  	button.style.color = "#ff0000";
    }
    else {
    	button.style.color = "#00ff00";
    }
  
  
  
 $(button).popover({
 	html: true,
 	title: "Comment:",
 	placement: "bottom",
 	content: $scope.displayButtonInfo($scope.currentStudent.classes[index])
 }).parent().on('click', "button", function(e) {
 	e.preventDefault();
 });
 
$('html').on('mousedown', function (e) {
    $('.popover').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
             $(this).popover('hide');
             
        }
    });
});
  button.onclick = function() {
  		$scope.currentClass = this.id - 200;
    	
    //	$scope.displayButtonInfo($scope.students[index].classes[$scope.currentClass], $scope.currentStudent);
		
    	//$scope.displayCommentModal(index,$scope.students[index].classes[$scope.currentClass].comment, $scope.currentStudent); //passes info on currently selected class, and full student JSON 
    
  };
  
  		return button;
   };
   
   $scope.getGradeField = function(currClass) {
   			 var gradeForm = document.createElement("input");
   		   		 gradeForm.value = currClass.grade;
   		 gradeForm.id = "grade";
   		$scope.createGradeListener(gradeForm); //create the grade listen to respond on input to form
   		return gradeForm;
   };
    /*displays info of current class. 
   	currClass = array of currentClass of currentstudent
   Displays within popover content box. It's called from there
   
   */
  	
   $scope.displayButtonInfo = function(currClass) {
   		var fullForm = document.createElement("form");
   	    var semForm = document.createElement("select"); //semester form
    	  var currentOpt = document.createElement("option"); //first option will be what's currently in year field 
   		 currentOpt.text = currClass.year;
   		 currentOpt.value = currClass.year;
		 	 semForm.options.add(currentOpt);
   			
   		//base case: class not yet taken, user sees semester class will be taken
   		if (currClass.grade ==="") {
   			 fullForm.appendChild(document.createTextNode("Planned semester to take class: "));
   			}
   			//if grade field isn't empty, add grade field and past semesters to option list
   			else {
   				 var gradeForm = $scope.getGradeField(currClass);
   					 fullForm.appendChild(document.createTextNode("Class Grade:"));
   			fullForm.appendChild(gradeForm);
   		
   				 fullForm.appendChild(document.createTextNode("Semester taken: "));
   				 	var opt10 = document.createElement("option"); 
				opt10.text = 'Spring 2016';
					opt10.value = 'Spring 2016';
					
				
					
					var opt12 = document.createElement("option"); 
				opt12.text = 'Spring 2015';
					opt12.value = 'Summer 2015';
					
					var opt13 = document.createElement("option"); 
				opt13.text = 'Fall 2015';
					opt13.value = 'Fall 2015';
					
						var opt14 = document.createElement("option"); 
				opt14.text = 'Spring 2014';
					opt14.value = 'Summer 2014';
					
					var opt15 = document.createElement("option"); 
				opt15.text = 'Fall 2014';
					opt15.value = 'Fall 2014';
					
						var opt16 = document.createElement("option"); 
				opt16.text = 'Spring 2013';
					opt16.value = 'Spring 2013';
					
						var opt17 = document.createElement("option"); 
				opt17.text = 'Fall 2012';
					opt17.value = 'Fall 2012';
					
						var opt18 = document.createElement("option"); 
				opt18.text = 'Spring 2012';
					opt18.value = 'Spring 2012';
					
					
					
					
					semForm.options.add(opt10);
			semForm.options.add(opt12);
			semForm.options.add(opt13);
			semForm.options.add(opt14);
			semForm.options.add(opt15);
			semForm.options.add(opt16);
			semForm.options.add(opt17);
					semForm.options.add(opt18);
   				}
   				
   				
   				//everything else gets put in grade field every time:
   			 
   			var opt0 = document.createElement("option"); 
			opt0.text = 'Summer 2016';
			opt0.value = 'Summer 2016';
			
			var opt1 = document.createElement("option"); 
			opt1.text = 'Fall 2016';
			opt1.value = 'Fall 2016';
			
			var opt2 = document.createElement("option"); 
			opt2.text = 'Winter 2017';
			opt2.value = 'Winter 2017';
			
			var opt3 = document.createElement("option"); 
			opt3.text = 'Spring 2017';
			opt3.value = 'Spring 2017';
			
			var opt4 = document.createElement("option"); 
			opt4.text = 'Summer 2017';
			opt4.value = 'Summer 2017';
			
				var opt5 = document.createElement("option"); 
			opt5.text = 'Fall 2017';
			opt5.value = 'Fall 2017';
			
				var opt6 = document.createElement("option"); 
			opt6.text = 'Winter 2018';
			opt6.value = 'Winter 2018';
			
				var opt7 = document.createElement("option"); 
			opt7.text = 'Spring 2018';
			opt7.value = 'Spring 2018';
			
			
			semForm.options.add(opt0);
			semForm.options.add(opt1);
			semForm.options.add(opt2);
			semForm.options.add(opt3);
			semForm.options.add(opt4);
			semForm.options.add(opt5);
			semForm.options.add(opt6);
			semForm.options.add(opt7);
   			 
   			 semForm.id = "year";
   			 fullForm.appendChild(semForm);
   			 $scope.createYearListener(semForm);
   		
   		
   	
   		return fullForm;
   		//infoArea.appendChild(fullForm);
   		
   		
   		
   };
  
   //TODO sanitize inputs, . etc
   var acceptedGrades = ["A", "A-", "B+", "B", "B-", "C+", "C", "","C-"]; //global, or whatever its called in this crazy language
   $scope.createGradeListener = function (element) {
		element.onkeyup = function() {
		
			var currText  = document.getElementById("grade").value;
			var index = $scope.students.indexOf($scope.currentStudent);
				console.log("Previous input = " + $scope.students[index].classes[$scope.currentClass].grade);
				console.log('New input=  '  + currText);
				var p;
				for (p = 0; p < acceptedGrades.length; p++) {
					if (currText === acceptedGrades[p])
					{
						$scope.students[index].classes[$scope.currentClass].grade = currText;
						$scope.postJSON($scope.students);
						var node = document.getElementById($scope.currentClass);
						console.log("currently changing class id " + $scope.currentClass);
						node.style.color = "00ff00";
						$scope.$apply();
						break;
					}
					
				}
				
				if ((currText === "F" | "D" | "D+" |"D-")
						 && !($scope.students[index].classes[$scope.currentClass].grade === "")) {
					
					var r = confirm("Uhhh, professor. This student previously had a passing grade. Are you sure you want to give them an incomplete? I'm not even sure if this is legal.");
					if (r = true) {
						$scope.students[index].classes[$scope.currentClass].grade = "";  //failing grades aren't saved in the DB'
						$scope.postJSON($scope.students);
						$scope.updateButton($scope.currentStudent, $scope.currentClass,false);
					}
				}
					else if (currText === "F" | "D" | "D+" |"D-") {
					alert('Failing grades are ignored and will not be saved.');
				}
				
				
			
				else if ((p == acceptedGrades.length) && !(currText === "C-")) {
					alert("Invalid grade. Acceptable grades fall within the range of (A to C minus)");	
				}
				
			
		
			
		
		};
	};
	
	
	 $scope.createCommentListener = function (element) {
		element.onkeyup = function() {
		
			var commentText  = document.getElementById("comment").value;
			var index = $scope.students.indexOf($scope.currentStudent);
			$scope.students[index].classes[$scope.currentClass].comment = commentText;
			$scope.postJSON();
			
			$scope.$apply();
		};
			
		}; 
		
			 $scope.createYearListener = function (element) {
		element.onchange = function() {
		
			var yearText  = document.getElementById("year").value;
			console.log("Hey im " + yearText);
			var index = $scope.students.indexOf($scope.currentStudent);
			$scope.students[index].classes[$scope.currentClass].year = yearText;
			$scope.postJSON($scope.students);
			
			$scope.$apply();
		};
			
		}; 
		$scope.updateButton = function (stud, index, passingGrade) {
			var classButton = document.getElementById(index);
				if (passingGrade) {
				
					classButton.style.background = "00ff00";
				}
			else {
			
			classButton.style.background = "#ff0000";
			}
				//remove all children except class name
 				classButton.removeChild(classButton.lastChild);
 				classButton.removeChild(classButton.lastChild);
 				classButton.removeChild(classButton.lastChild);
 			
			 var gradeButton=  $scope.createGradeButton(index);
 		var commentButton = $scope.createCommentButton(index);
  
  	
 classButton.appendChild(gradeButton);
   classButton.appendChild(commentButton);
		};
	
	 $scope.postJSON = function(data) {
	 	console.log("Posting JSON: " + data);
    	var res = $http.post('http://162.243.36.18:8000/students.json/', data);
		res.success(function(data, status, headers, config) {
			//console.log("you posted son");
			$scope.message = data;
			
		});
		res.error(function(data, status, headers, config) {
			alert( "failure message: " + JSON.stringify({data: data}));
		});	
    };
    
     $scope.postCSV = function(data) {
     	console.log("Posting CSV: " + data);
    	var res = $http.post('http://162.243.36.18:8000/newJSON.json/',data);
    	res.success(function(d) {
    		
    		$http.get('http://162.243.36.18:8000/students.json/').success(function(newStudents) {
    			$scope.students = newStudents;
    			if ($scope.currentStudent) { //refresh graph if student is on new list
    				$scope.checkForStudents($scope.students, $scope.currentStudent);
    			}
    			
    		});
    		
    		$scope.$apply();
			console.log("you posted son :" + JSON.stringify(d));
			
			//$scope.$apply();
		});
    						
		res.error(function(data, status, headers, config) {
			alert( "failure message: " + JSON.stringify({data: data}));
		});	
    };
    $scope.checkForStudents = function(newArray, oldStudent) {
    	for (var i = 0; i < newArray.length; i++) {
    		if (oldStudent.lastName === newArray[i].lastName
    			&& oldStudent.firstName === newArray[i].firstName) {
    				console.log("samsies");
    				$scope.getGraph(newArray[i]);
    			}
    	}
    };	
   
   });


	</script>
	
</html>